.AnimalsList{
  display: flex;
  justify-content: space-evenly;
}

.divContainer {
  width: 20vw; 
  display: flex;
  border: 2px solid black; 
  flex-direction: column; 
  overflow: hidden;
}

.imgContainer{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 700px
}

img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

p{
text-align: center;
}